In [ ]:
import pandas as pd
import numpy as np
import random

def ensuciar_df(df_original):
    df = df_original.copy()  # Trabajar sobre una copia del DataFrame original

    # Duplicar algunas filas aleatorias
    num_duplicados = random.randint(1, int(len(df) * 0.3))  # Hasta 30% de duplicados máximo
    duplicadas = df.sample(n=num_duplicados, replace=True)  # Permitir reemplazo
    df = pd.concat([df, duplicadas], ignore_index=True)

    # Vectorizar la inserción de 'invalid' en el 2% de las celdas sin sobrescribir NaNs
    num_invalid = int(len(df) * 0.02)
    for col in random.sample(df.columns.tolist(), len(df.columns) // 2):
        # Convertir la columna a object si no lo es (para evitar problemas de tipo)
        if df[col].dtype != 'object':
            df[col] = df[col].astype('object')
        valid_indices = df.index[df[col].notna()]  # Obtener índices válidos que no son NaN
        if len(valid_indices) > 0:  # Verificar que hay índices válidos
            invalid_indices = np.random.choice(valid_indices, size=min(num_invalid, len(valid_indices)), replace=False)  # Elegir solo índices que no son NaN
            df.loc[invalid_indices, col] = 'Auto%#'

    # Cambiar tipos de formatos de algunas columnas aleatoriamente
    columnas_a_cambiar = random.sample(df.columns.tolist(), random.randint(1, len(df.columns) // 2))
    for col in columnas_a_cambiar:
        if pd.api.types.is_numeric_dtype(df[col]):
            df[col] = df[col].astype(str)  # Convertir a texto
        else:
            df[col] = pd.to_numeric(df[col], errors='coerce')  # Convertir a numérico donde sea posible

    # Vectorizar la inserción de NaNs en el 3% de las celdas
    num_nan = int(len(df) * 0.03)
    for column in df.columns:
        nan_indices = np.random.choice(df.index, size=min(num_nan, len(df)), replace=False)  # Elegir índices aleatorios
        df.loc[nan_indices, column] = np.nan  # Insertar NaNs

    return df

# Cargar un CSV y aplicar las modificaciones
ruta_csv = 'poblacion.csv'  # Reemplaza con la ruta de tu archivo CSV
df = pd.read_csv(ruta_csv)

max_intentos = 30
intento = 0
df_sucio = ensuciar_df(df)

# Verificar la cantidad de NaNs y volver a ejecutar si es necesario
while intento < max_intentos:
    # Calcular el porcentaje de NaNs en cada columna
    nan_porcentaje = df_sucio.isnull().mean() * 100
    # Verificar si alguna columna tiene más del 10% de NaNs
    if (nan_porcentaje > 10).any():
        intento += 1
        #print(f"Intento {intento}: Se encontraron columnas con más del 10% de NaNs. Volviendo a ensuciar el DataFrame.")
        df_sucio = ensuciar_df(df)
    else:
        print(f"Finalización en el intento {intento}. No se encontraron columnas con más del 10% de NaNs.")
        break

# Guardar el DataFrame sucio a un nuevo archivo CSV
df_sucio.to_csv('df_sucio.csv', index=False)

# Verificar la cantidad de NaNs en el DataFrame final
print(df_sucio.isnull().sum())
print(df_sucio.shape)

C:\Users\Jaime\AppData\Local\Temp\ipykernel_12692\2770081182.py:42: DtypeWarning: Columns (45) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(ruta_csv)

In [33]:
df.shape

(9712, 8)

In [34]:
df.isnull().sum()

Age                                     0
Gender                                  0
Avg_Daily_Screen_Time_hr                0
Primary_Device                          0
Exceeded_Recommended_Limit              0
Educational_to_Recreational_Ratio       0
Health_Impacts                       3218
Urban_or_Rural                          0
dtype: int64

In [35]:
df_sucio.shape

(11533, 8)

In [36]:
df_sucio.isnull().sum()

Age                                    567
Gender                               11533
Avg_Daily_Screen_Time_hr               567
Primary_Device                         345
Exceeded_Recommended_Limit             345
Educational_to_Recreational_Ratio      345
Health_Impacts                        4044
Urban_or_Rural                         345
dtype: int64

In [4]:
import pandas as pd
import numpy as np
import random

def ensuciar_df(df_original):
    df = df_original.copy()  # Trabajar sobre una copia del DataFrame original

    # Duplicar algunas filas aleatorias
    num_duplicados = random.randint(1, int(len(df) * 0.3))  # Hasta 30% de duplicados máximo
    duplicadas = df.sample(n=num_duplicados, replace=True)  # Permitir reemplazo
    df = pd.concat([df, duplicadas], ignore_index=True)

    # Vectorizar la inserción de 'invalid' en el 2% de las celdas sin sobrescribir NaNs
    num_invalid = int(len(df) * 0.02)
    for col in random.sample(df.columns.tolist(), len(df.columns) // 2):
        # Convertir la columna a object si no lo es (para evitar problemas de tipo)
        if df[col].dtype != 'object':
            df[col] = df[col].astype('object')
        valid_indices = df.index[df[col].notna()]  # Obtener índices válidos que no son NaN
        if len(valid_indices) > 0:  # Verificar que hay índices válidos
            invalid_indices = np.random.choice(valid_indices, size=min(num_invalid, len(valid_indices)), replace=False)  # Elegir solo índices que no son NaN
            df.loc[invalid_indices, col] = 'bbb'

    # Cambiar tipos de formatos de algunas columnas aleatoriamente
    columnas_a_cambiar = random.sample(df.columns.tolist(), random.randint(1, len(df.columns) // 2))
    for col in columnas_a_cambiar:
        if pd.api.types.is_numeric_dtype(df[col]):
            df[col] = df[col].astype(str)  # Convertir a texto
        else:
            df[col] = pd.to_numeric(df[col], errors='coerce')  # Convertir a numérico donde sea posible

    # Vectorizar la inserción de NaNs en el 3% de las celdas
    num_nan = int(len(df) * 0.05)
    for column in df.columns:
        nan_indices = np.random.choice(df.index, size=min(num_nan, len(df)), replace=False)  # Elegir índices aleatorios
        df.loc[nan_indices, column] = np.nan  # Insertar NaNs

    return df

# Cargar un CSV y aplicar las modificaciones
ruta_csv = 'Impact_of_Remote_Work_on_Mental_Health.csv'  # Reemplaza con la ruta de tu archivo
df = pd.read_csv(ruta_csv)

max_intentos = 100
intento = 0
df_sucio = ensuciar_df(df)

# Columnas a excluir del conteo de NaNs
columnas_a_excluir = ['Mental_Health_Condition', 'Physical_Activity']

# Verificar la cantidad de NaNs y volver a ejecutar si es necesario
while intento < max_intentos:
    # Calcular el porcentaje de NaNs en cada columna (excluyendo las especificadas)
    nan_porcentaje = df_sucio.drop(columns=columnas_a_excluir).isnull().mean() * 100
    
    # Verificar si alguna columna tiene más del 10% de NaNs
    if (nan_porcentaje > 10).any():
        intento += 1
        print(f"Intento {intento}: Se encontraron columnas con más del 10% de NaNs. Volviendo a ensuciar el DataFrame.")
        df_sucio = ensuciar_df(df)
    else:
        print(f"Finalización en el intento {intento}. No se encontraron columnas con más del 10% de NaNs.")
        break

# Guardar el DataFrame sucio a un nuevo archivo CSV
df_sucio.to_csv('df_sucio.csv', index=False)

# Verificar la cantidad de NaNs en el DataFrame final
print(df_sucio.isnull().sum())

Intento 1: Se encontraron columnas con más del 10% de NaNs. Volviendo a ensuciar el DataFrame.
Intento 2: Se encontraron columnas con más del 10% de NaNs. Volviendo a ensuciar el DataFrame.
Intento 3: Se encontraron columnas con más del 10% de NaNs. Volviendo a ensuciar el DataFrame.
Intento 4: Se encontraron columnas con más del 10% de NaNs. Volviendo a ensuciar el DataFrame.
Intento 5: Se encontraron columnas con más del 10% de NaNs. Volviendo a ensuciar el DataFrame.
Intento 6: Se encontraron columnas con más del 10% de NaNs. Volviendo a ensuciar el DataFrame.
Intento 7: Se encontraron columnas con más del 10% de NaNs. Volviendo a ensuciar el DataFrame.
Intento 8: Se encontraron columnas con más del 10% de NaNs. Volviendo a ensuciar el DataFrame.
Intento 9: Se encontraron columnas con más del 10% de NaNs. Volviendo a ensuciar el DataFrame.
Intento 10: Se encontraron columnas con más del 10% de NaNs. Volviendo a ensuciar el DataFrame.
Intento 11: Se encontraron columnas con más del 10% de NaNs. Volviendo a ensuciar el DataFrame.
Intento 12: Se encontraron columnas con más del 10% de NaNs. Volviendo a ensuciar el DataFrame.
Intento 13: Se encontraron columnas con más del 10% de NaNs. Volviendo a ensuciar el DataFrame.
Intento 14: Se encontraron columnas con más del 10% de NaNs. Volviendo a ensuciar el DataFrame.
Intento 15: Se encontraron columnas con más del 10% de NaNs. Volviendo a ensuciar el DataFrame.
Finalización en el intento 15. No se encontraron columnas con más del 10% de NaNs.
Employee_ID                           307
Age                                   307
Gender                                307
Job_Role                              307
Industry                              307
Years_of_Experience                   307
Work_Location                         307
Hours_Worked_Per_Week                 307
Number_of_Virtual_Meetings            307
Work_Life_Balance_Rating              307
Stress_Level                          307
Mental_Health_Condition              1707
Access_to_Mental_Health_Resources     307
Productivity_Change                   307
Social_Isolation_Rating               307
Satisfaction_with_Remote_Work         307
Company_Support_for_Remote_Work       307
Physical_Activity                    6158
Sleep_Quality                         307
Region                                307
dtype: int64

In [2]:
df_sucio.isnull().sum()

ID                                                                    27
Hora de inicio                                                        27
Hora de finalización                                                  27
Correo electrónico                                                   678
Nombre                                                               678
Hora de la última modificación                                       678
Tomas el STU de CU a CU2 o de CU2 a CU                                27
Género                                                               678
¿Cuántos días a la semana utilizas el STU?                            96
¿Tomas el STU de ida y vuelta?\n                                      97
¿A qué hora tomas el STU de CU a CU2?                                101
¿A qué hora tomas el STU de CU2 a CU (Selecciona la más cercana)?     98
¿Cuál es tu nivel de satisfacción con el STU?                        678
 ¿Cuánto tiempo esperas el STU de CU a CU2 (minutos)?                 99
 ¿Cuánto tiempo esperas el STU de CU2 a CU (minutos)?                102
¿Qué tan frecuente es que viajes parado                              100
¿Qué consideras qué se debe mejorar en el STU?                       100
dtype: int64

In [6]:
df2=pd.read_csv("owid-co2-data.csv")
df2

,country,year,iso_code,population,gdp,cement_co2,cement_co2_per_capita,co2,co2_growth_abs,co2_growth_prct,...,share_global_other_co2,share_of_temperature_change_from_ghg,temperature_change_from_ch4,temperature_change_from_co2,temperature_change_from_ghg,temperature_change_from_n2o,total_ghg,total_ghg_excluding_lucf,trade_co2,trade_co2_share
0,Afghanistan,1750,AFG,2802560.0,NaN,0.000,0.000,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Afghanistan,1751,AFG,NaN,NaN,0.000,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Afghanistan,1752,AFG,NaN,NaN,0.000,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Afghanistan,1753,AFG,NaN,NaN,0.000,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Afghanistan,1754,AFG,NaN,NaN,0.000,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
50186,Zimbabwe,2019,ZWE,15271377.0,2.514642e+10,0.473,0.031,10.263,-0.942,-8.411,...,NaN,0.106,0.001,0.001,0.002,0.0,34.348,17.531,-0.027,-0.261
50187,Zimbabwe,2020,ZWE,15526888.0,2.317871e+10,0.496,0.032,8.495,-1.768,-17.231,...,NaN,0.105,0.001,0.001,0.002,0.0,31.323,15.775,0.612,7.209
50188,Zimbabwe,2021,ZWE,15797220.0,2.514009e+10,0.531,0.034,10.204,1.709,20.120,...,NaN,0.104,0.001,0.001,0.002,0.0,33.549,17.599,0.539,5.280
50189,Zimbabwe,2022,ZWE,16069061.0,2.590159e+10,0.531,0.033,10.425,0.221,2.169,...,NaN,0.103,0.001,0.001,0.002,0.0,33.772,17.910,0.315,3.018
50190,Zimbabwe,2023,ZWE,16340829.0,NaN,0.531,0.032,11.164,0.739,7.090,...,NaN,0.102,0.001,0.001,0.002,0.0,33.955,18.608,NaN,NaN

In [8]:
df2.isnull().sum()

country                            0
year                               0
iso_code                        7929
population                      9172
gdp                            34940
                               ...
temperature_change_from_n2o    12131
total_ghg                      12781
total_ghg_excluding_lucf       12955
trade_co2                      45656
trade_co2_share                45656
Length: 79, dtype: int64